body {
    height: 100vh;
}

* {
    color: white;
}

.search-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    background-color: rgb(127, 204, 255);
    padding: 10px 20px 10px 20px;
    margin-top: 25px;
}

p {
    font-style: italic;
    font-size: 12px;
}