.week-forecast-content {
    height: 25vh;
    width: 90%;
    background-color: rgb(127, 204, 255);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.title-wrapper {
    border-bottom: 1px solid white;
    width: 60%;
    align-self: center;
    margin-bottom: 10px;
}

.daily-forecast-wrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.daily-forecast-wrapper::-webkit-scrollbar {
    display: none;
}