.today-forecast-content {
    height: 25vh;
    width: 90%;
    background-color: rgb(127, 204, 255);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.title-wrapper {
    border-bottom: 1px solid white;
    width: 60%;
    align-self: center;
}

.today-forecast-wrapper {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    height: 20vh;
    margin-top: 25px;
    overflow-y: hidden;
}

@media (max-width: 500px) {
    .today-forecast-wrapper::-webkit-scrollbar {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(60, 141, 196);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(93, 150, 189);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(147, 205, 243);
}